<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <bean name="user" class="com.spring.bean.User">
        <property name="name">
            <value>小千</value>
        </property>
        <property name="user2" ref="user2"></property>
    </bean>


    <bean name="user2" class="com.spring.bean.User2">
        <property name="name">
            <value>小千2</value>
        </property>
    </bean>
</beans>